*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    /* font-family: "Noto Serif", serif; */
}
img{
    width: 100%;
}
/* share-style */
.size {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
}
.title-1{
    font-size:4rem;
    line-height: 4rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    margin-bottom: 20px;
}
.title-2{
    font-size:3rem;
    line-height:3rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    margin-bottom: 20px;
}
.title-3{
    font-size:2.5rem;
    line-height:2.5rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}
.paragraph{
    font-size: 1.4rem;
    color:rgba(0, 0, 0, 0.5) ;
}
.orange{
    color: rgb(233, 90, 8);
    font-family: "Noto Serif", serif;
}
.dark-1{
    color: rgb(10, 10, 10);
    font-weight: 700;
}
/* header-style */
    /* nav-bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 70px;
    width: 135px;
}
nav ul li{
    list-style: none;
   
    display:inline;
    margin-right: 15px;
}
nav ul li a{
   text-decoration: none;
    color:rgba(0, 0, 0, 0.5) ;
}
 /* banner-style */
 .banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 100px;
}
/* start-main */
/* section-1 */
.section-1{
    margin-top: 100px;
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px 10px;
    margin: 20px auto;
}
.card {
    display: flex;
    flex-direction: column;
}
.card h5{
     font-size: 1.5rem;
     font-weight: 500;
     margin: 10px auto;

}
.card h3{
     font-size: 1.5rem;
     font-weight: 700;
    margin-bottom: 20px;

}
.btn{
    font-weight: 700;
    border: none;
    color: white;
    padding: 25px 50px;
    background-color:rgb(233, 90, 8) ;
}
/* section-2 */
.section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    gap: 70px;
}
.section-2 h2{
    width:80%;
}
.section-2 figure{
    position: relative;
}
.section-2 figure .bg{
    position: absolute;
    width: 50%;
    top: -120px;
    right: -100px;
}
/* section-3 */
.section-3{
    margin-top: 100px;
    text-align: center;
}
.img-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    margin-top: 50px ;
    margin-bottom: 10px;
}
.second-img-container{
   display: flex;
   flex-direction: column;
   gap:20px;
   width: 35%;
   height: calc(100% - 20px);;
}
.second-img{
   
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    height:200px;
    background-position: center;
    background-size: cover;
    padding: 40px;
    border-radius: 8px;
}
.second-img-2{
    

    background-image: url(../assets/../assets/deal-bloom.png);
     background-repeat: no-repeat;
     height:180px;
    background-position: center;
    background-size: cover;
    padding: 40px;
    border-radius: 8px;
}
.second-img-3{
    width: 60%;
    height: 400px;
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    padding: 170px 0;
    border-radius: 8px;
}
.second-img-3 h2{
    margin-bottom: 30px;
}
.anc{
    color: white;
    font-weight: 600;
}
/* section-4 */
.section-4{
    max-width: 1440px;
    margin: 100px auto;
    background-image:url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;  
}
.input-box{
    padding: 100px 0px;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.input-container [type="email"]{
    padding: 20px 20px ;
    border-radius: 5px 0px 0px 5px;
    background: rgb(217, 217, 217);
    border: none;
    width: 500px;
}
.input-container [type="submit"]{
    padding: 20px 50px ;
    border-radius: 0px 5px 5px 0px;
    background: rgb(233, 90, 8);
    border: none;
    color: aliceblue;
    font-weight: 800;
}


















/* responsive-style */
 /* For-mobile */
 /* mobile */
@media (max-width: 768px){
 nav ul span{
    display:none;
 }
 .banner{
    flex-direction: column-reverse;
    gap: 20px;
 }
 .card-container{ 
    grid-template-columns: repeat(2,1fr);
}
.section-2{
    flex-direction: column;
}
.section-2 h2{
    width:100%;
}
.section-2 figure .bg{
    display: none;
}
.img-container{
    margin: 20px;
    flex-direction: column;
}
.second-img-container{
    width: 100%
}
.second-img {
     height:300px;
    padding: 120px 10px;
}
.second-img-2{ 
    height:300px;
    padding: 120px 10px;
}
.second-img-3{
    width: 100%;
    height:300px;
    padding: 120px 10px;
}
.section-4{
    margin: 60px 0;
}
.input-container [type="email"]{
    width: 200px;
}
.input-container [type="submit"]{
    padding: 20px 30px;
}
}